<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>  
    
  <system.serviceModel>
   <!-- <bindings>
      <basicHttpBinding>
        <binding name="SampleBindingWD" bypassProxyOnLocal="false" maxBufferPoolSize="200000000"
          maxBufferSize="200000000" maxReceivedMessageSize="200000000">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings> -->
    <!--bindingConfiguration="SampleBindingWD" -->
    <bindings>
      <basicHttpBinding>
        <binding name="NewBinding0" maxBufferSize="20000000" maxReceivedMessageSize="20000000" />
      </basicHttpBinding>
    </bindings>
    <diagnostics performanceCounters="Default" />
    <client>
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="NewBinding0"
        contract="IDEV1Service" name="mySimpleEndpoint" />
    </client>
  
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
  <!--  <protocolMapping>
      <add binding="basicHttpBinding" scheme="http"/>
    </protocolMapping>  -->
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="false"/>
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>